/* .btn {
    color: black;
    border-color: gray;
    background-color: #fff;
}
.btn:active {
    background-color: rgb(187, 187, 187);
} */

.textCont {
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
    justify-content: center;
}
.progress {
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;

}