.cont {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    transition: ease-in 0.5s;
    background-color: #ffffff;
}
.hide {
    transition: ease-in 0.5s;
    background-color: #ffffff10;
    z-index: -1;
}
