.cont {
    display: flex;
}
.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.auth {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.inputCont {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}