* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.loginCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}